:root {
    --container-width: 1352px;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-raleway);
}

.container {
    margin: 0 auto;
    width: 100%;
    min-width: var(--container-width);
    max-width: 80vh;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
}
/*BUTTONS*/

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
    text-decoration: none;
}

.btn_default {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn_red {
    background-color: var(--color-redish);
}

.btn_green {
    background-color: var(--color-green);
}

.btn_big {
    padding: 22px 155px;
}

.btn:hover{
    filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) opacity(0.9) saturate(1.3) sepia(0.4);
}


/*MAIN VIEW*/

.main-view {
    height: 100vh;
    width: 100%;
    background: #fff url("../assets/Background.png") no-repeat bottom/contain;
    position: relative;
}

/*PAGE HEADER*/

.page-header {
    position: fixed;
    min-width: var(--container-width);
    background: var(--color-white);
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    z-index: 5;
}

.page-header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav-list {
    display: flex;
}

.page-nav-list li {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: 700;
    padding: 0 26px;
}

.page-nav-list li:last-child {
    padding-right: 0;
}

.page-nav-list a {
    text-decoration: none;
    color: var(--color-grey);
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    transition: 1s;
}

.page-nav-list a:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.page-logo {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

.page-logo:hover {
    font-weight: 700;
    filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) opacity(0.9) saturate(1.3) sepia(0.4);
}


/*OPENING SECTION*/

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opening-header{
    padding-top: 130px;
    font-family: var(--font-raleway);
    font-size: 49px;
}

.opening-text{
    font-family: var(--font-open-sans);
    margin: 20px 0 38px 0;
}

/*STATISTICS SECTION*/

.statistics {
    margin-top: 100px;
}

.statistics-title {
    text-align: center;
}

.statistics-content {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics-article {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics-number {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 6px;
    margin-top: 13px;
}

.statistics-text {
    color: var(--color-grey);
    margin-top: 19px;
}

.statistics-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics-article-img {
    position: absolute;
}

.statistics-article:nth-of-type(1) .statistics-circle{
    background: var(--color-redish);
}
.statistics-article:nth-of-type(1) .statistics-article-img {
    top: 0;
    left: 45%;
}
.statistics-article:nth-of-type(2) .statistics-circle{
    background: var(--color-primary);
}
.statistics-article:nth-of-type(2) .statistics-article-img {
    top: 14px;
    left: 30%;
}
.statistics-article:nth-of-type(3) .statistics-circle{
    background: var(--color-green);
}
.statistics-article:nth-of-type(3) .statistics-article-img {
    top: 6px;
    left: 55%;
}

/*MAIN PAGE CONTENT*/


.main-content {
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.main-content div.container {
    padding: 0 100px;
}

.main-content-article {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.main-content-article-text {
    box-sizing: content-box;
    max-width: 415px;
    margin: 90px 36px;
}

.main-content-article-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.main-content-article-description {
    margin-top: 30px;
    line-height: 22px;
}

.main-content-article-img {
    position: relative;
}

.main-content-article-img img {
    position: relative;
    z-index: 2;
}

.main-content-article:nth-of-type(1) {
    --accent-color: var(--color-redish);
}

.main-content-article:nth-of-type(1) .main-content-article-img img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.main-content-article:nth-of-type(1) .main-content-article-img {
    margin-right: 117px;
    margin-bottom: 38px;
}

.main-content-article:nth-of-type(1) .main-content-article-img::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -60px;
    transform: rotate(45deg);
}

.main-content-article:nth-of-type(2) {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.main-content-article:nth-of-type(2) .main-content-article-img img {
    width: 426px;
    height: auto;
}

.main-content-article:nth-of-type(2) .main-content-article-img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.main-content-article:nth-of-type(2) .main-content-article-text {
    margin: 70px 0;
}

.main-content-article-2x {
    display: flex;
}

.main-content-article-2x {
    --accent-color: var(--color-green);
}

.main-content-article-2x > div {
    margin-bottom: 0;
}

.main-content-article-2x .main-content-article {
    max-width: 620px;
}

.main-content-article-2x .main-content-article-text {
    max-width: none;
    margin: 70px 35px;
}

.main-content-article-img-x2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    margin-left: 60px;
}

.main-content-article-img-x2 img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}