* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-raleway);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  /*max-width: 80vh;*/
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 36px;
}