:root{
  font-size: $main-font-size;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-raleway;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width;
  padding: 0 15px;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

h2 {
  font-family: $font-raleway;
  font-size: 2.25rem;
}
