.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: $button-radius;
  border: none;
  text-decoration: none;

  &-default {
    background-color: $color-primary;
    border-radius: $button-radius;
    box-shadow: 3px 10px 14px $color-primary-shadow;

    @include mobile {
      border-radius: $button-radius * 2;
      font-size: .8rem;
    }
  }

  &-big {
    text-align: center;
    width: 400px;
    max-width: 90%;
    padding: 1.4rem 1rem;

    @include mobile {
      padding: 1.4rem 1rem;
    }
  }

  &:hover {
    filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) saturate(1.3) sepia(0.4);
  }

}