.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing-box-basic {
  --accent-color: var(--color-redish);
  width: 370px;
  min-height: 460px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
  transition: var(--btn-transition);
}

.pricing-box-basic .btn {
  position: relative;
  bottom: var(--btn-down);
  font-size: 13px;
  background-color: var(--accent-color);


}

.pricing-box-professional {
  --accent-color: var(--color-primary);
  margin: 0 60px;
  width: 370px;
  min-height: 460px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
  transition: var(--btn-transition);
}

.pricing-box-professional .btn {
  position: relative;
  bottom: var(--btn-down);
  font-size: 13px;
  background-color: var(--accent-color);
  transition: var(--btn-transition);
}
.pricing-box-premium {
  --accent-color: var(--color-green);
  width: 370px;
  min-height: 460px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
  transition: var(--btn-transition);
}

.pricing-box-premium .btn {
  position: relative;
  bottom: var(--btn-down);
  font-size: 13px;
  background-color: var(--accent-color);
  transition: var(--btn-transition);
}

.pricing-title {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing-type {
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-cost {
  font-size: 46px;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing-offer {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-points {
  text-align: center;
}

.pricing-point {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-point-not {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-point::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Checkmark-1.svg");
}

.pricing-point-not::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Close.svg");
}


.pricing-box-professional:hover {
  width: 400px;
  height: 500px;
  margin: 0 45px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
  --btn-down: -95px;
}

.pricing-box-basic:hover,
.pricing-box-premium:hover {
  width: 400px;
  height: 500px;
  margin: 0 -15px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
  --btn-down: -95px;
}