.statistics {
  margin-top: 6.3rem;

  @include mobile{
    margin-top: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-title {
    text-align: center;
  }

  &-content {
    padding: 0 9rem;
    margin-top: 6.3rem;
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: space-between;

    @include mobile{
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: $font-raleway;

    @include mobile{
      padding-bottom: 40px;
    }

    .statistics-circle {
      border-radius: 50%;
      width: 63px;
      height: 63px;
      position: relative;

      .statistics-article-img {
        position: absolute;
      }
    }

    &:nth-of-type(1) {
      .statistics-circle {
        background: $color-redish;

        .statistics-article-img {
          top: 0;
          left: 45%;
        }
      }
    }

    &:nth-of-type(2) {
      .statistics-circle {
        background: $color-primary;

        .statistics-article-img {
          top: 14px;
          left: 30%;
        }
      }
    }

    &:nth-of-type(3) {

      .statistics-circle {
        background: $color-green;
      }

      .statistics-article-img {
        top: 6px;
        left: 55%;
      }
    }


    .statistics-number {
      font-size: 1.25rem;
      font-weight: 800;
      letter-spacing: .4rem;
      margin-top: .8rem;
    }

    .statistics-text {
      color: $color-grey;
      margin-top: 1.2rem;
    }
  }
}
